<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <div class="login-panel">
        <p class="description">اطلاعات خود را وارد نمایید</p>
        <form action="/register" method="POST">
            <div class="user-container">
                <input type="text" id="username" name="username" class="username" placeholder="نام کاربری" required>
                <span class="grey"><i class="far fa-user"></i></span>
            </div>
            <div class="user-container">
                <input type="email" id="email" name="email" class="username" placeholder="ایمیل" required>
                <span class="grey"><i class="fas fa-at"></i></span>
            </div>
            <div class="pass-container">
                <input type="password" id="password" name="password" class="password" placeholder="رمز عبور" required>
                <span class="grey"><i class="fas fa-lock"></i></span>
            </div>
            <button class="login-button" type="submit">ثبت نام</button>
            <p class="description">اگر حساب کاربری دارید برای ورود<a href="./login">کلیک </a>کنید</p>
        </form>
    </div>
</body>

</html>